.Card{
    display: flex;    
    justify-content: center;
    width: 350px;
    height: 250px;
    background-image: url("https://images.ecestaticos.com/6iLIx07bmbcAO6V9yaCIyPTWEQ8=/17x5:1715x1279/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F502%2Fa04%2F0d5%2F502a040d58e3739f6f419bba18deefe1.jpg");
    margin: 100px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.Card:hover {
    transform: scale(1.1);
}


.Img {
    width: 90%;
    height: 90%;
    margin-top: 12px;
    margin-left: 12px;
    border: solid black 2px;
    border-radius: 20px
}

.TextContainer {
    width: 20%;
    font-family: cursive;
    font-size: 14px;
    margin-top: 40px;
    padding-left: 16px;
}

h2{
    text-decoration: underline;
    
}
button{
    position: relative;
    margin: 5px;
}
.Buttom {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 25px;
    background: red;
    color: antiquewhite;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.Buttom:hover {
    cursor: pointer;
}

h3 {
    text-align: left;
    margin-left: 10px;
    color: rgb(216, 193, 166);
    width: 150px;
}

.Detail {
    font-size: large;
    
}

